.dashboard {
	height: 100%;
}
.main {
	display: flex;
     width: 100%;
     min-height: 100%;
	box-sizing: border-box;
	overflow: hidden;
}
.mainContainer {
     width: 100%;
     height: 100%;
}

.chartSection {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	margin: 1rem;
	height: 90vh;
}

.div1 {
	grid-area: 1 / 1 / 3 / 4;
}
.div2 {
	grid-area: 3 / 1 / 5 / 2;
	position: relative;
}
.div3 {
	grid-area: 3 / 2 / 5 / 3;
}
.div4 {
	grid-area: 3 / 3 / 5 / 4;
}
.div5 {
	grid-area: 4 / 4 / 5 / 5;
}
.div6 {
	grid-area: 3 / 4 / 4 / 5;
}
.div7 {
	grid-area: 2 / 4 / 3 / 5;
}
.div8 {
	grid-area: 1 / 4 / 2 / 5;
}
.div1:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div2:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div3:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div4:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div5:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div6:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div7:hover {
	border: 1px solid rgb(179, 62, 247);
}
.div8:hover {
	border: 1px solid rgb(179, 62, 247);
}


.overlay {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
	background-color: black;
	opacity: 0.3;
	border-radius: 0 15px 15px 0;
}

@media (max-width: 1200px) {

	.chartSection {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
	.div1 {
		width: 100%;
		height: 400px;
		grid-area: none;
	}
	.div2 {
		width: 100%;
		height: 400px;
		grid-area: none;

	}
	.div3 {
		width: 100%;
		height: 400px;
		grid-area: none;

	}
	.div4 {
		width: 100%;
		height: 400px;
		grid-area: none;

	}
	.div5 {
		width: 100%;
		grid-area: none;

	}
	.div6 {
		width: 100%;
		grid-area: none;

	}
	.div7 {
		width: 100%;
		grid-area: none;

	}
	.div8 {
		width: 100%;
		grid-area: none;

	}


	
}